header {
  background: #ffffff;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid rgb(233, 235, 239);
}

.fa-cocktail {
  position: absolute;
  left: 5%;
  top: 8px;
  font-size: 32px;
  color: #f01133;
}

.fa-user-circle {
  position: absolute;
  left: 90%;
  top: 8px;
  font-size: 32px;
  /* color: white; */
}

.fa-headset {
  position: absolute;
  left: 80%;
  top: 8px;
  font-size: 32px;
  /* color: white; */
}