header {
  background: #ffffff;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid rgb(233, 235, 239);
}

.fa-cocktail {
  position: absolute;
  left: 5%;
  top: 8px;
  font-size: 32px;
  color: #f01133;
}

.search-container {
  position: absolute;
  left: 50%;
  top: 10px;
  display: block;
}

.search-container .form {
  border-radius: 20px;
  
}

.search-container .form:focus {
  outline: 0;
}


.fa-user-circle {
  position: absolute;
  left: 90%;
  top: 8px;
  font-size: 32px;
  /* color: white; */
}

.fa-headset {
  position: absolute;
  left: 80%;
  top: 8px;
  font-size: 32px;
  /* color: white; */
}