header {
  background: #005192;
  height: 12%;
  width: 100%;
}

.fa-cocktail {
  position: absolute;
  left: 5%;
  top: 2.5%;
  font-size: 60px;
  color: white;
}

.fa-user-circle {
  position: absolute;
  left: 90%;
  top: 4%;
  font-size: 40px;
  color: white;
}

.fa-headset {
  position: absolute;
  left: 80%;
  top: 4%;
  font-size: 40px;
  color: white;
}