.carousels {
  margin: 40px;
  background: black;
  height: 400px;
}

.carousel1 {
  background: black;
  height: 400px;
}

.carousel2 {
  background: black;
  height: 400px;
}

.carousel3 {
  background: black;
  height: 400px;
}