.side {
  background: #d3d3d3;
  width: 20%;
  margin: 12px;
}

#side_menu1 {
  height: 80px;
  position: relative;
}

#side_menu2 {
  height: 80px;
  border-top: solid 2px #808080;
  position: relative;
}

#side_menu3 {
  height: 80px;
  border-top: solid 2px #808080;
  border-bottom: solid 2px #808080;
  position: relative;
}

#dropside_menu1 {
  display: none;
  background: #f5f5f5;
  height: 80px;
  width: 200px;
  position: absolute;
  top: 0;
  right: -200px;
}

#dropside_menu2 {
  display: none;
  background: #f5f5f5;
  height: 80px;
  width: 200px;
  position: absolute;
  top: 0;
  right: -200px;
}

#dropside_menu3 {
  display: none;
  background: #f5f5f5;
  height: 80px;
  width: 200px;
  position: absolute;
  top: 0;
  right: -200px;
}