.side {
  width: 235px;
  border-right: 1px solid rgb(233, 235, 239);
  padding: 6px 2px 2px 2px;
}

#side_menu1 {
  height: 38px;
  line-height: 38px;
  position: relative;
}

#side_menu2 {
  height: 38px;
  line-height: 38px;
  position: relative;
}

#side_menu3 {
  height: 38px;
  line-height: 38px;
  position: relative;
}

#side_menu_vanilla {
  height: 38px;
  line-height: 38px;
  position: relative;
}

#side_menu_vanilla:hover {
  background: #f01133;
}

#dropside_menu1 {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  right: -202px;
}

#dropside_menu2 {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  right: -200px;
}

#dropside_menu3 {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  right: -200px;
}

#dropside_menu1 > li{
  height: 32px;
}

#dropside_menu1 > li:hover {
  background: #88593b;
}

#dropside_menu2 > li{
  height: 32px;
}

#dropside_menu2 > li:hover {
  background: #f01133;
}

#dropside_menu3 > li{
  height: 32px;
}

#dropside_menu3 > li:hover {
  background: #f01133;
}

.side_menu_general_user {
  margin: 10px 12px;
  padding: 3px;
  font-size: 10px;
  text-align: center;
  color: #68b9d9;
  border: 1px solid #68b9d9;
}