html{
  height:100%;
}
body{
  height:100%;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  background: #005192;
  height: 12%;
}

.container {
  display: flex;
  height: 76%;
}

.main {
  background: #808080;
  width: 80%;
}

footer {
  background: #005192;
  height: 12%;
}